.colorRed{
    color: red;
}
.posicaoDiv{
    position: relative;
    padding-left: 120px;
}
#body{
    background: #f4f4f4;
}
.NavbarAdmimHoot{
    width: 120px;
    min-height: 100vh;
    position:fixed;
    left: 0;
}
.linkNavbar{
    color: white;
}
.linkNavbar:hover{
    color: #7ba9a8;
}
.divEmpresas{

}
.tamanho60{
    width: 60%;
}

.divCabecalho{
    padding: 10px;
    border-radius: 10px;
    background: white;
}
.divCabecalho2{
    padding: 10px;
    border-radius: 10px 10px 0 0;!important;
    background: white;!important;
}
.DivInfoGerais{
    width: 300px;
    height: 325px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.DivInfoGerais2{
    width: 500px;
    height: 325px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.tamanho40{
    width: 40%;
}

.desenho{
    width: 35px;
    height: 10px;
    background: gray;
    border-radius: 10px;
}

.desenho2{
    width: 35px;
    height: 10px;
    border-radius: 10px;
}
.iniciaisUsuario{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #59e9e8;
    font-size: 15px;
    color: white;
    font-weight: bolder;
}

.ColorKankan{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pTitle{
    font-size: 30px;
    color: gray;
}

.textIndices{
    font-size: 18px;
    color: gray;
}
.textIndices2{
    color: gray;
}
.inputColors{
    width: 30px;
    height: 20px;
}
.deleteText{
    color: #bdbdbd;
    font-weight: bolder;
    text-align: center;
}
.colorRedDelete{
    color: red;
    font-weight: bolder;
    text-align: center;
}

.AddConfig{
    width: 150px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background: #1e3fe7;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.AddConfig:hover{
    width: 150px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background: #1e3fe7;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.linkEdit{
    text-decoration: none;
    color: blue;
}
.linkDelete{
    text-decoration: none;
    color: red;
}

.divEmpresas2{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
}
.divEmpresas2:hover{
    box-shadow: 0 3px 10px rgba(108, 255, 162, 0.8);
}
.focardiv{
    color: #142ba1;
}
.textBlue{
    color: #1e3fe7;
    font-size: 12px;
    font-weight: bolder;
}
.textGray{
    color: #6c6c6c;
    font-weight: bolder;
}
.textGray2{
    color: #b9b9b9;
    font-weight: bolder;
}
.textGray3{
    color: #b9b9b9;
    font-size: 12px;
    font-weight: bolder;
}
.posicaoLinkUser{
    position: absolute;
    top: 20px;
    left: 30px;
}
.none{
    display: none;!important;
}

.divGray{
    background: #f4f4f4;
    border-radius: 10px;
}
.backgroud233{
    background: #1e3fe7;
}
.colorgray{
    color: #c0c0c0;
    font-size: 25px;
}


.dfsdsdsdcsdc{
    background: red;
}
.bgWhite{
    background: white;
}

.colorBlue{
    color: blue;!important;
}
.BtnConfig{
    background: #1e3fe7;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px;
}
.BtnConfig:hover{
    background: #2563eb;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#listaUsuarios{
    background: white;!important;
}
.navBarAdmin{
    position: relative;
    width: 120px;
    height: 100vh;
    background: #1e3fe7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.BtnBlue{
    background: #1d3ee6;
    color: white;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
}
.BtnRed{
    background: red;
    color: white;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
}
.colorTitle{
    color:  #1d3ee6;
}
.colorTitlered{
    color:  red;
}
.BtnCriarEmpresa{
    margin: 50px 0;
    background: #35ff92;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
}
.divGhafhcs{
    width: 500px;

}
.divGhafhcs2{
    width: 300px;
}
.BtnCriarEmpresa:hover{
    background: #2bc4c3;
}

.BtnCriarLeads{
    background: #8999ed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
}

.divTemperatura{
    margin-bottom: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgb(222,201,255);
    background: linear-gradient(90deg, rgba(222,201,255,1) 0%, rgba(163,130,255,1) 31%, rgba(255,147,121,1) 38%, rgba(255,190,187,1) 64%, rgba(255,158,21,1) 100%);
}

.divFiltro{
    border: 0.3px solid rgba(145, 255, 185, 0.8);
    box-shadow: 0 1px 5px rgba(145, 255, 185, 0.8);
    border-radius: 10px;
    padding: 10px;
    width: 90%;
}
.divFiltro2{
    border: 1px solid rgba(145, 255, 185, 0.8);
    border-radius: 10px;
    padding: 10px;
}
.proxOportunidade{
    color: #2563eb;
}

.colorgray{
    color: gray;
    font-size: 20px;
}
.colorgray2{
    color: #706a6a;
}
.colorgray3{
    color: #a29d9d;
}
.bolder{
    font-weight: bolder;
}

.NameLead{
    color:#3a41e0;
}
.divTemperatura{
    margin-bottom: 10px;
    width: 110px;
    height: 10px;
    border-radius: 10px;
    background: rgb(222,201,255);
    background: linear-gradient(90deg, rgba(222,201,255,1) 0%, rgba(163,130,255,1) 31%, rgba(255,147,121,1) 38%, rgba(255,190,187,1) 64%, rgba(255,158,21,1) 100%);
}
.flexName{
    display: flex;
    align-items: end;
}
.divService{
    padding: 2px;
    border-radius: 10px;
    background: #5bfda6;
    color: green;
}
.infoResponsavel{
    width: 40px;
    padding:5px;
    border-radius: 50%;
    background: #5bfda6;
    border: none;
    font-weight: bold;
    color:  #6b6b6b;
}
.linksLeads{
    width: 220px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid blue;
    text-align: center;
    text-decoration: none;
}
.DivOportunidade{
    border: 2px solid #3956ea;
    color: #3956ea;
    border-radius: 10px;
    padding: 10px;
}
.DivNormal{
    background: #f9f9f9;
    color: #6b6b6b;
    border-radius: 10px;
    padding: 10px;
}
.linksLeads:hover{
    box-shadow: 0px 10px 15px -3px rgba(71, 102, 255, 0.33);
    border: none;
}
.BtnEditarLeads{
    background: none;
    border: none;
    color: #2563eb;
    font-weight: bolder;
}

.DivPrincipal{
    width: 70%;
    border-radius: 10px;
    background: white;
}
.DivInfo{
    width: 28%;
    border-radius: 10px;
    background: white;
}

.tamanhoDivSearch{
    width: 94%;
}

.btnSearch{
    margin-left: 10px;
    width: 50px;
    height: 40px;
    border-radius:25%;
    background: #2bc4c3;
}

.BtnCriarLeads:hover{
    background: #2bc4c3;
}
.linkProfile{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-content: center;
    background: #8999ed;
    width: 60px;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    padding-top: 9px;
    height: 60px;
    border-radius: 50%;
}
.linkProfile:hover{
    background: white;
    color: #8999ed;
}
.linkProfile:focus{
    background: white;
    color: #8999ed;
}
.AdminInfo1{
    width: 350px;
    background: #1d3ee6;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.AdminInfo2{
    width: 350px;
    background: #2bc4c3;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.AdminInfo3{
    width: 350px;
    background: #a4e1e0;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.textInfo{
    color: white;
    font-weight: bolder;
}
